* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.page-1 {
  background: url(background.png);
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 40px 120px 0 120px;
}

.page-1 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-1 nav .right_nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btn-black {
  background-color: #000;
  color: rgb(167, 167, 167);
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 17.8px;
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

.menu{
  display: none;
}

.search {
  cursor: pointer;
  transition: transform 0.4s ease;
}

.search:hover {
  transform: scale(1.25);
}

strong {
  color: #fff;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: rgb(87, 87, 87);
  font-size: 17.5px;
}

.textbox {
  text-align: center;
  margin: 0.5in 0;
}

.textbox h1 {
  font-size: 51px;
  margin-bottom: 5px;
  font-weight: 700;
}

.textbox p {
  font-size: 18px;
  color: rgb(67, 67, 67);
  margin-bottom: 20px;
}

.textbox button {
  margin-bottom: 15px;
}

.textbox span {
  font-size: 18px;
  color: rgb(67, 67, 67);
}

.mobile-image{
  display: none;
  max-width: 100%;
  line-height: 0px;
}

.main-image {
  max-width: 100%;
  display: block;
  line-height: 0px;
}

/* --page-2--- */

.page-2 {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  gap: 20px;
  padding: 50px 120px;
}

.textbox2 {
  width: 50%;
}

.textbox2 h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.textbox2 p {
  font-size: 18px;
  max-width: 95%;
  line-height: 30px;
  margin-bottom: 15px;
}

.custom-img {
  width: 50%;
}

.custom-img img {
  max-width: 100%;
}

/* --footer---- */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
}

.footer img{
  cursor: pointer;
}

.footer ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.footer a{
  text-decoration: none;
  color: rgb(67, 67, 67);
  font-size: 17.5px;

}


/* ----Responsives-- */

@media screen and (max-width: 1024px) {
    .page-2{
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    .textbox2{
      width: 100%;
    }

    .custom-img{
      width: 65%;
    }

    .page-1{
      padding: 40px 70px 0 70px;
    }

    .page-2{
      padding: 50px 70px;
    }

    .footer{
      padding: 40px 70px;
    }
}

@media screen and (max-width: 700px) {
  nav .search,
  nav a,
  nav button{
    display: none;
  }

  .menu{
    display: block;
    cursor: pointer;
  }

  .main-image{
    display: none;
  }

  .mobile-image{
    display: block;
  }

  .page-1{
    padding: 40px 40px 0 40px;
  }

  .page-2{
    padding: 50px 40px;
  }

  .footer{
    padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  .custom-img{
    width: 85%;
  }

  .footer{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: initial;
    gap: 10px;
  }

  .textbox button{
    width: 100%;
  }

}

@media screen and (max-width: 500px) {

  .page-1{
    padding: 25px 25px 0 25px;
  }

  .page-2{
    padding: 50px 25px;
  }

  .footer{
    padding: 40px 25px;
  }

  .textbox2 p,
  .textbox p{
    max-width: 100%;
    font-size: 17px;
  }

  .textbox h1{
    font-size: 46px;
  }

  .textbox2 h1{
    font-size: 30px;
  }

  .custom-img{
    width: 100%;
  }


}